body{
    background-color: lightblue;
}

#goalsimg{
    width: 500px;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
}

.header{
    text-align: center;
    font-family: Arial, sans-serif;
    color: darkblue;
}

div{
    background-color: white;
}

span{
    background-color: greenyellow;
}

.howquestion{
    color: red;
    font-size: larger;
    padding:50px;
}

.howquestionmoney{
    color: orange;
    margin:10px;
}

.whatquestion{
    color: purple;
    padding-top: 20px;
}

.questions{
    padding: auto;
    margin-left: 50px;
}


#first100k{
    background-color: gold;
    font-weight: bold;
    font-size:xx-large;
}